.time_left_bar {
	max-width: 100%;
	text-align: center;
	width: 100vw;
	height: 10px;
	position:relative;
  	left:0px;
	bottom: 0;
	background-color: var(--bs-dark);
	filter: blur(2px);
	-webkit-filter: blur(2px);
}
